@use '@/assets/styles/colors';
@use '@/assets/styles/spacing';

$border: 1px solid colors.$white;
$border-radius: 10px;

.user-item {
  display: flex;
  align-items: center;
  gap: spacing.set-space(1);
  
  &--filled {
    padding: spacing.set-space(1.5) spacing.set-space(2);
    background-color: colors.$secondary;
    border: $border;
    border-radius: $border-radius;
  }

  .user-name {
    flex: 1;
    font-weight: 600;
  }
}